---
layout: default
title: MOBI Lab / funding
---

<!-- {% include JB/setup %} --> 
<div class="bigspacer"></div>

{% assign projectindex = 0 %}
{% for fund in site.categories.funding %}
{% assign projectindex = projectindex | plus: 1 %}
  {% assign columnindex = projectindex | modulo: 3 %}
  {% if columnindex == 1 %} <!-- opening of a new row -->
  <div class="row">
  {% endif %}

		<div class="col-md-12">
			<div class="bighead">
				<a href="{{ fund.url }}" class="off">{{ fund.handle }}</a>
			</div>
			<div class="smallspacer"></div>
			<div class="smallhead">{{ fund.title }}
			</div>
			<div class="smallspacer"></div>
			<div class="smallnote">{{fund.hashes}}
			</div>
			<div class="bigspacer"></div>
			<div class="spacer"></div>
			
			      <a href="{{ funding.url }}">
        <img class="ml-4" width=250 class="media-object" src="{{ fund.image }}"></a>
      
      			<div class="bigspacer"></div>
      			<div class="bigspacer"></div>
		</div>
		

      
{% endfor %}
{% if colindex != 0 %} <!-- close last open row -->
</div>

<div class="bigspacer"></div>
{% endif %}
