---
layout: default
title: MOBI Lab / courses
---

<!-- {% include JB/setup %} --> 
<div class="bigspacer"></div>


{% assign courseindex = 0 %}
{% for course in site.categories.courses %}
{% assign courseindex = courseindex | plus: 1 %}
  {% assign columnindex = courseindex | modulo: 3 %}
  {% if columnindex == 1 %} <!-- opening of a new row -->
  <div class="row">
  {% endif %}

		<div class="col-md-12">
			<div class="bighead">
			<a href="{{ course.url }}" class="off">{{ course.handle }}</a>
			</div>
			<div class="smallspacer"></div>
			<div class="smallhead">{{ course.title }}
			</div>
			<div class="smallspacer"></div>
			<div class="smallnote">{{course.hashes}}
			</div>
			
			<div class="spacer"></div>
			
			<a href="{{ course.url }}">
        <img class="ml-4" width=250 class="media-object" src="{{ course.image }}"></a>
      
      			<div class="bigspacer"></div>
		</div>
		

      
{% endfor %}
{% if colindex != 0 %} <!-- close last open row -->
</div>

<div class="bigspacer"></div>
{% endif %}
